nav {
    background-color: black;
    margin-bottom: 0;
}

ul {
 list-style: none;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.row {
  font-size: 5.5em;
}

a {
  text-decoration: none !important;
}
/*#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	*/
  
   /*Preserve aspet ratio */
   /*
  min-width: 100%;
  min-height: 100%;
}*/